<div class="box">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 col-sm-16">
      <img src="{{data.image}}" alt="">
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="info">
        <div class="list-unstyled">
          <li><strong>Title : </strong>{{data.title}}</li>
          <li><strong>Categories : </strong>{{data.category}}</li>
          <li><strong>Description : </strong>{{data.description}}</li>
          <li><strong>Rate : </strong>{{data.rating.rate}}</li>
          <li><strong>Count : </strong>{{data.rating.count}}</li>
          <li><strong>Price : </strong>{{data.price}}</li>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div> -->
</div>
